<!DOCTYPE html>
<html>
<head>
  <title>ServiceCenter</title>
  <%= netzke_init %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'center', 'boxselect', 'preload', 'icons' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
